ClinicDTOs/src/cs548.stevens.edu_clinic_dto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://cs548.stevens.edu/clinic/dto" targetNamespace="http://cs548.stevens.edu/clinic/dto">
   <xsd:complexType name="patientDTO">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:long"/>
         <xsd:element name="patient-id" type="xsd:long"/>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="dob" type="xsd:dateTime"/>
         <xsd:element name="treatments" type="xsd:long" maxOccurs="unbounded" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
