ClinicDTOs/src/main/java/META-INF/TreatmentDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="www.example.org/clinic/schemas/treatment" 
jaxb:version="2.0"
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="www.example.org/clinic/schemas/treatment"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
>
	<annotation>
		<appinfo>
			<jaxb:globalBindings>
				<jaxb:javaType name="java.util.Date" xmlType="date"
				parseMethod="edu.stevens.cs548.clinic.service.dto.util.DateAdaptor.parseDate"
				printMethod="edu.stevens.cs548.clinic.service.dto.util.DateAdaptor.printDate"/>
			</jaxb:globalBindings>
		</appinfo>
	</annotation>
	
    <complexType name="DrugTreatmentType">
        <sequence>
            <element name="dosage" type="float"/>
            <element name="name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="RadiologyType">
        <sequence>
            <element maxOccurs="unbounded" name="date" type="date"/>
        </sequence>
    </complexType>
    <complexType name="SurgeryType">
        <sequence>
            <element name="date" type="date"/>
        </sequence>
    </complexType>
    
    <element name="treatment-dto">
		<complexType>
			<sequence>
				<element name="diagnosis" type="string" />
				<choice>
					<element name="radiology" type="tns:RadiologyType" />
					<element name="surgery" type="tns:SurgeryType" />
					<element name="drug-treatment" type="tns:DrugTreatmentType" />
				</choice>
			</sequence>
		</complexType>
	</element>
</schema>